<div class="col-md-12">
  <div class="card">

    <div class="accordion" *ngIf="activityList?.length > 0">
      <!-- Accordion header -->
      <div class="activity" *ngFor="let activity of activityList">
        <div class="wrapper" [id]="activity.id" data-toggle="collapse" [attr.data-target]="'#' + activity.id + 'cont'" aria-expanded="false" [attr.aria-controls]="activity.id + 'cont'">
          <div class="activity-name">{{activity.assignment[0].name}}</div>
          <div class="employee-name">{{activity.uesrname}}</div>
          <div class="date-submitted">{{activity.date | date:'dd/MM/yyyy'}}</div>
        </div>
  
        <!-- Accordion content -->
        <div [id]="activity.id + 'cont'" class="collapse" [attr.aria-labelledby]="activity.id" [attr.data-parent]="activity.id">
          <div class="confirm-wrapper">
            <div class="activity-confirm-employee"><span class="confirm-title">Medewerker:</span> {{activity.username}}</div>
            <div class="activity-confirm-name"><span class="confirm-title">Activiteit:</span> {{activity.assignment[0].name}}</div>
            <div class="activity-confirm-description"><span class="confirm-title">Beschrijving:</span> {{activity.description}}</div>
            <div class="activity-confirm-points"><span class="confirm-title">Punten:</span>
              <span *ngIf="!activity.pointsEditable">{{activity.assignment[0].credits}}</span>
              <input class="form-control points-input" type="number" required [(ngModel)]="activity.points" *ngIf="activity.pointsEditable" min="0">
            </div>
            <button class="btn btn-primary" (click)="alertConfirm('confirm', activity)">Bevestigen</button> &nbsp;
            <button class="btn btn-danger" (click)="alertConfirm('deny', activity)">Afwijzen</button>
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="activityList?.length === 0">
      <div class="col-md-12 no-data">
        <span class="no-data-title">Er zijn geen verzoeken om te behandelen</span>
      </div>
    </div>

  </div>
</div>