
.card {
    min-height: 45px;

    .activity {
        &:first-child.wrapper { padding-top: 5px;}
        &.active .wrapper { background-color: rgba(61, 61, 61, 0.137);}
        line-height: 35px;
    
        .wrapper {
            margin: auto;
            padding: 8px 0;
            width: 100%;
            height: 100%;
            display: flex;
            font-size: 15px;
            border-bottom: 1px solid rgba(192, 192, 192, 0.2);
    
            &:hover {
                background-color: rgba(167, 167, 167, 0.26);
                cursor: pointer;
            }
            
            .activity-name {
                width: calc(97% - 140px - 80px);
                padding-left: 3%;
            }
        
            .employee-name {
                width: 140px;
            }
        
            .date-submitted {
                width: 80px;
            }
        }
    
        .confirm-wrapper {
            border-bottom: 1px solid rgba(192, 192, 192, 0.6);
            padding: 8px 0;
            width: 100%;
            padding-left: calc(3% - 10px);
            font-size: 14px;
            line-height: 30px;
    
            .activity-confirm-points {
                display: flex;
                input {
                    text-align: center;
                    width: 60px;
                    height: 25px;
                    border: 1px solid rgba(100, 100, 100, 0.288);
                }
            }
    
            .confirm-title {
                display: inline-block;
                width: 80px;
                font-weight: 200;
                text-align: right;
                margin-right: 10px;
            }
    
            button { margin-left: 10px;}
        }
    
        
    }
    .no-data {
        width: 100%;
        text-align: center;
        margin: auto;
        .no-data-title {
            display: inline-block;
            font-size: 22px;
        }
    }
}