<div class="background-container">
  <div class="card card-block tip-card">
    <button class="tip-ico tip-ico-info">
      <i class="fas fa-star"></i>
    </button>
    <div class="tip-msg">
      <span>Beschikbare credits: {{userCredits}}</span>
    </div>
  </div>

<div class="col-md-2 column productbox" *ngFor="let item of shop">
  <img src="{{item?.photo}}" class="productimage img-responsive" (click)="openModal(item)">
  <div class="producttitle">{{item?.name}}</div>
  <div class="productprice">
    <div class="pull-right">
      <a class="btn btn-danger btn-sm" role="button" (click)="buy(item)">KOOP</a>
    </div>
    <div class="pricetext">Punten: {{item?.credits}}</div>
  </div>
</div>

  <button hidden="true" data-toggle="modal" data-target="#myModal" id="clickButton"></button>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">{{modal?.name}}</h4>
        </div>
        <div class="modal-body">
          <img src="{{modal?.photo}}" class="img-responsive">
          {{modal?.description}}
          <hr />
          <div class="pricetext">Punten: {{modal?.credits}}</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <button hidden="true" data-toggle="modal" data-target="#confirmModal" id="confirmButton"></button>

  <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="confirmModalLabel">{{modal?.name}}</h4>
        </div>
        <div class="modal-body">
          {{res}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="pageReload()">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>

