@import "../../shared/theme/conf";

.productbox {
  background-color:#ffffff;
  padding:10px;
  margin-bottom:10px;
  -webkit-box-shadow: 0 8px 6px -6px  #999;
  -moz-box-shadow: 0 8px 6px -6px  #999;
  box-shadow: 0 8px 6px -6px #999;
  min-width: 20%;
}

.producttitle {
  font-weight:bold;
  font-size: 1.4em;
  padding:5px 0 5px 0;

  :hover{
    cursor: pointer;
  }
}

.productprice {
  border-top:1px solid #dadada;
  padding-top:5px;
}

.pricetext {
  font-weight:bold;
  font-size:1.2em;
}

.productimage{
  width: 460px;
  height: 250px;

  :hover{
    cursor: pointer;
  }
}

body.modal-open .background-container{
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  filter: url("https://gist.githubusercontent.com/amitabhaghosh197/b7865b409e835b5a43b5/raw/1a255b551091924971e7dee8935fd38a7fdf7311/blur.svg#blur");
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}

.modalcol{
  padding:10px;
  min-height: 200px;
}

.tip-card {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .tip-msg {
    margin: auto;
    font-weight: bolder;
    flex: 1;
    span {
      color: rgba($fonts-color, .6);
      font-size: $default-text;
    }
  }
  .tip-ico {
    margin: 0 10px;
    border-radius: 3px;
    color: $white;
    @include center(60px, 60px);
    font-size: 30px;
    border: none;
    outline: none;
    &:active {
      @include box-shadow( 0 2px 10px 0 rgba($black, .4) inset);
    }
  }
  .tip-ico-primary {
    @extend .bg-primary;
    @include box-shadow( 0 2px 10px 0 rgba($primary, .5));
  }
  .tip-ico-success {
    @extend .bg-success;
    @include box-shadow( 0 2px 10px 0 rgba($success, .5));
  }
  .tip-ico-danger {
    @extend .bg-danger;
    @include box-shadow( 0 2px 10px 0 rgba($danger, .5));
  }
  .tip-ico-warning {
    @extend .bg-warning;
    @include box-shadow( 0 2px 10px 0 rgba($warning, .5));
  }
  .tip-ico-info {
    @extend .bg-info;
    @include box-shadow( 0 2px 10px 0 rgba($info, .5));
  }
}

