<div class="row">
  <div class="col-md-6 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>5 punten</h3>
        <span>Geef een lezing over Angular 6</span>
      </div>
      <button class="tip-ico tip-ico-success">
        <i class="fas fa-check"></i>
      </button>
    </div>
  </div>
  <div class="col-md-6 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>5 punten</h3>
        <span>Geef een lezing over Angular 6</span>
      </div>
      <button class="tip-ico tip-ico-danger">
        <i class="fas fa-ban"></i>
      </button>
    </div>
  </div>
  <div class="col-md-6 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>5 punten</h3>
        <span>Geef een lezing over Angular 6</span>
      </div>
      <button class="tip-ico tip-ico-success">
        <i class="fas fa-check"></i>
      </button>
    </div>
  </div>
  <div class="col-md-6 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>5 punten</h3>
        <span>Geef een lezing over Angular 6</span>
      </div>
      <button class="tip-ico tip-ico-danger">
        <i class="fas fa-ban"></i>
      </button>
    </div>
  </div>
  <div class="col-md-6 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>5 punten</h3>
        <span>Geef een lezing over Angular 6</span>
      </div>
      <button class="tip-ico tip-ico-danger">
        <i class="fas fa-ban"></i>
      </button>
    </div>
  </div>
</div>
