<div class="row">
  <div class="col-md-4">
    <profile></profile>
  </div>

  <div class="col-md-5">
      <div class="card">
        <div class="historiek">

          <div class="list">
            <span class="list-title">Laatste 5 rewards</span>
            <div class="profile-list" *ngFor="let reward of rewardList">
              <div class="item-name">{{ reward.name }}</div>
              <div class="item-date">{{ reward.date | date:'dd/MM/yyyy' }}</div>
              <div class="item-points">{{ reward.points }}</div>
            </div>
          </div>

          <div class="list">
            <span class="list-title">Laatste 5 rewards</span>
            <div class="profile-list" *ngFor="let activity of activityList">
              <div class="item-name">{{ activity.name }}</div>
              <div class="item-date">{{ activity.date | date:'dd/MM/yyyy' }}</div>
              <div class="item-points">{{ activity.points }} pts</div>
            </div>
          </div>

        </div>
      </div>
  </div>

  <div class="col-md-3">
      <profile-sidebar></profile-sidebar>
  </div>
</div>
