.historiek {
    width: 90%;
    margin: auto;
    padding: 10px 0;

    .list-title {
        font-size: 18px;
    }

    .list {
        margin-bottom: 20px;

        .profile-list {
            display: flex;
            border-bottom: 1px solid rgba(100, 100, 100, 0.205);
            font-size: 15px;
            line-height: 26px;

            &:hover {
                background-color: rgba(129, 129, 129, 0.068);
            }
    
            .item-name {
                width: calc(100% - 100px - 40px);
            }
    
            .item-date {
                width: 100px;
            }
    
            .item-points {
                width: 40px;
            }
        }
    }
}