<div class="col-md-12">
  <card cardTitle="Activiteit toevoegen" isCollapse="true">
    <form class="form-group">
      <label class="control-label">Activiteit</label>
      <input type="text" class="form-control" placeholder="Activiteit" [(ngModel)]="newActivity.name" name="name">
      <label class="control-label">Beschrijving</label>
      <textarea class="form-control" placeholder="Description" [(ngModel)]="newActivity.description" name="description"></textarea>
      <label class="control-label">Credits</label>
      <input type="number" class="form-control" placeholder="punten" [(ngModel)]="newActivity.credits" name="credits" min="1">
      <hr />
      <button type="submit" class="btn btn-primary" (click)="addAct()">Voeg Toe</button>
    </form>
  </card>
</div>

<div class="col-md-12">
  <card cardTitle="Activiteiten">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Activiteit</th>
        <th>Beschrijving</th>
        <th>Punten</th>
        <th>Verwijder</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let a of activityData">
        <td>{{ a.name }}</td>
        <td>{{ a.description }}</td>
        <td>{{ a.credits }}</td>
        <td>
          <button class="tip-ico tip-ico-primary btn-danger" (click)="openModalNG(closeModalid, a)">
            <i class="fa fa-trash fa-fw fa-align-center"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </card>
</div>

<modal #closeModalid>
  <modal-header>
    <h3>Opgelet!</h3>
  </modal-header>
  <modal-content>
    <p>Weet u zeker dat u deze activiteit wil verwijderen? Deze actie kan niet geannuleerd worden!</p>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="closeModal(closeModalid)">Annuleer</button>
    <button class="btn btn-danger" (click)="deleteModal(closeModalid)">Verwijder</button>
  </modal-footer>
</modal>
