.points {
    display: flex;
    width: 100%;

    .title, .value {
        display: inline-block;
        width: 100%;
    }

    .title {
        font-size: 12px;
        color: rgb(100, 100, 100);
    }

    .value {
        font-size: 18px;
        font-weight: bolder;
    }
    
    .points-end {
        width: 100%;
        text-align: right;
        display: flex;
        flex-wrap: wrap;
        :first-child {
            width: 100%;
            order: 9999;
        }
    }
}

.progress {
    margin: 5px 0 !important;
}