.sidebar {
    width: 100%;
    margin: auto;

    .sidebar-section {
        width: 100%;
        padding: 10px 0;

        .sidebar-section-content {
            width: 92%;
            margin: auto;


            .points-total-lifetime {
                height: 30px;

                .total {
                    font-size: 12px;
                    color: rgb(100, 100, 100);
                    margin-right: 5px;
                }
    
                .value {
                    display: inline-block;
                    font-size: 22px;
                    font-weight: bold;
                    position: absolute;
                    top: 13px;
                    
                }
            }

            .points-total-current {
                text-align: right;
                height: 30px;

                .total {
                    font-size: 12px;
                    color: rgb(100, 100, 100);
                    margin-right: 5px;
                }
    
                .value {
                    display: inline-block;
                    font-size: 22px;
                    font-weight: bold;
                    position: absolute;
                    bottom: 25px;
                    right: 92px;
                    
                }
            }
        }
         
    }
}