<div>
  <div class="sidebar">
    <div class="card sidebar-section">
      <div class="sidebar-section-content">
        <comparison-bar [begin]="points.currentMonth" [end]="points.previousMonth" [beginText]="'Punten deze maand'"
          [endText]="'Punten vorige maand'"></comparison-bar>
      </div>
    </div>

    <div class="card sidebar-section">
      <div class="sidebar-section-content">
        <comparison-bar [begin]="points.currentMonth" [end]="points.average" [beginText]="'Punten deze maand'"
          [endText]="'Gemiddelde per maand'"></comparison-bar>
      </div>
    </div>

    <div class="card sidebar-section">
      <div class="sidebar-section-content">
        <div class="points-total-lifetime">
          <span class="total">Totaal punten</span>
          <span class="value">{{ points.totalLifetime }}</span>
        </div>
        <div class="points-total-current">
          <span class="value">{{ points.totalCurrent }}</span>
          <span class="total">Huidige punten</span>
        </div>
      </div>
    </div>

    <div class="card sidebar-section">
      <div class="list">
        <span class="list-title">Laatste rewards</span>
        <ng-container *ngIf="userData[0]?.redeemedrewards[0]">
          <div class="profile-list" *ngFor="let rew of userData[0].redeemedrewards">
            <div class="item-name">{{ rew }}</div>
            <!-- <div class="item-date">{{ reward.date | date:'dd/MM/yyyy' }}</div> -->
            <div class="item-points">{{ rew }} pts</div>
          </div>
        </ng-container>
        <div class="profile-list" *ngIf="!userData[0]?.redeemedrewards[0]">
          Niets om te tonen
        </div>
      </div>
    </div>

    <div class="card sidebar-section">
      <div class="list">
        <span class="list-title">Laatste opdrachten</span>
        <ng-container *ngIf="userData[0]?.completedassignments[0]">
          <div class="profile-list" *ngFor="let act of userData[0].completedassignments">
            <div class="item-name">{{ act }}</div>
            <!-- <div class="item-date">{{ act | date:'dd/MM/yyyy' }}</div> -->
            <div class="item-points">{{ act }} pts</div>
          </div>
        </ng-container>
        <div class="profile-list" *ngIf="!userData[0]?.completedassignments[0]">
          Niets om te tonen
        </div>
      </div>
    </div>

  </div>
</div>