<div class="row">
  <div class="col-md-4 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Gebruikers</h3>
        <span>{{ totalUsers }} gebruikers</span>
      </div>
      <button class="tip-ico tip-ico-primary">
        <i class="fa fa-group fa-fw"></i>
      </button>
    </div>
  </div>
  <div class="col-md-4 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Gescoorde punten</h3>
        <span>{{totalScoredPoints}} punten</span>
      </div>
      <button class="tip-ico tip-ico-info">
        <i class="fas fa-star"></i>
      </button>
    </div>
  </div>
  <div class="col-md-4 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Gekochte rewards</h3>
        <span>{{totalBoughtRewards}} rewards</span>
      </div>
      <button class="tip-ico tip-ico-success">
        <i class="far fa-gem"></i>
      </button>
    </div>
  </div>
  <div class="col-md-12">
    <card cardTitle='Maandelijks gehaalde punten'>
      <div echarts [options]="BarOptionCustom" [loading]="showloading" theme="dark" class="demo-chart"></div>
    </card>
  </div>
</div>
