<button class="config-switch" (click)="configToggle()">
  <i class="fas fa-sign-out-alt" *ngIf="!isConfigToggle"></i>
  <i class="fa fa-chevron-right" *ngIf="isConfigToggle"></i>
</button>
<div class="right-config-wrap" [ngClass]="{'right-config-wrap-on':isConfigToggle}">
  <div class="config-header">
    <h3 class="config-title">
      <i class="fas fa-sign-out-alt"></i>
      <span>Afmelden</span>
    </h3>
    <p class="desc">Bent u zeker dat u wilt afmelden?</p>
  </div>
  <ul class="config-content">
    <li class="config-list" (click)="configToggle()">
      <span>Nee, ik blijf nog even</span>
    </li>
    <li class="config-list" (click)="signOut()">
      <span>Ja, meld mij af</span>
    </li>
  </ul>
</div>
